:root {
  // max-width: 90vw !important;
    font-size: 62.5%;
    --primary: #0d1117;
    --secondary: #161b22;
    --font: #ededed;
    --button01: #ed0000;
    --button02: #ed3300;
    --button03: #ed7733;
    --highlights: #009999;
    --smallSpacer: 0.5rem;
    --mediumSpacer: 1rem;
    --largeSpacer: 1.5rem;
    --xlargeSpacer: 2.5rem;
  }