@import "./scss_src/variables";
@import "./scss_src/globalSettings";
@import "./scss_src/header";
@import "./scss_src/navi";
@import "./scss_src/footer";

// Landingpage
.landingpage {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;

  .aboutContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;

    .imgContainer {
      width: 100%;
      margin: auto;
      overflow: hidden;

      .carousel {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin: 2rem 0;
        padding: 2rem 0;
        transition: cubic-bezier(5);

        i {
          width: 4.8rem;
          font-size: 4rem;
          text-align: center;
          align-self: center;
          padding: 5.5rem 0.8rem;
          cursor: pointer;
          border: none;
          border-radius: 2rem;
        }

        i:hover {
          background-color: var(--secondary);
          color: red;
        }

        div {
          width: 50rem;
          height: 30rem;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .shopPreviewContainer {
          background-color: var(--secondary);
          width: 34rem;
          height: 58rem;
          position: relative;
          border: solid red 0.2rem;
          box-shadow: 0.1rem 0.1rem 0.8rem 0.2rem #c21a1a66,
            -0.1rem -0.1rem 0.8rem 0.2rem #c21a1a66,
            -0.1rem 0.1rem 0.8rem 0.2rem #c21a1a66,
            0.1rem -0.1rem 0.8rem 0.2rem #c21a1a66;

          h3 {
            height: 6rem;
            font-size: 2rem;
            padding: 0.5rem;
          }

          .shopPreviewCard {
            width: 80%;
            height: auto;
            margin: 0.8rem auto;

            img {
              width: 100%;
            }
          }

          .description {
            width: 80%;
            height: 15rem;
            font-size: 1.4rem;
            text-align: start;
            margin: auto;

            p {
              margin: 0.5rem;
            }
          }

          .cardFooter {
            width: 85%;
            height: 4rem;
            display: flex;
            justify-content: space-around;
            align-items: center;
            position: absolute;
            left: 7.5%;
            bottom: 1rem;

            .price {
              width: 30%;
              height: 3.5rem;
              font-size: 2.2rem;
            }

            a {
              background-color: var(--button02);
              width: 40%;
              height: 3.5rem;
              font-size: 1.6rem;
              font-weight: 600;
              padding: 0.5rem 1rem;
            }

            a:hover {
              background-color: var(--button01);
              color: var(--font);
              font-weight: 600;
            }
          }
        }
      }
    }
  }

  .newArticle {
    display: flex;
    justify-content: center;

    .article {
      width: 40%;
      margin: auto;
      padding: 1rem 3rem;
      border: solid 1px;
      box-shadow: inset 1px 1px 1px #000, inset 1px 1px 1px #242629;

      h2 {
        text-align: start;
        border-bottom: solid;
      }

      p {
        text-align: justify;
      }
    }
  }
}

// news Settings
.basicNewsCard {
  background-color: var(--secondary);
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  margin: 1.5rem auto;
  padding: var(--largeSpacer);

  .newsHeadLine {
    width: 100%;
    display: flex;
    border-bottom: solid 1px #ccc;

    h2 {
      width: 80%;
      text-align: start;
      padding: 0 var(--mediumSpacer);
    }

    .date {
      width: 20%;
      text-align: end;
    }
  }

  .newsDescription {
    width: 100%;
    padding: var(--mediumSpacer);
    margin: var(--mediumSpacer) 0;
    border-bottom: 1px solid #ccc;
  }

  .newsDetails {
    width: 60%;
    text-align: center;
    padding: var(--mediumSpacer);
    margin: var(--mediumSpacer) auto;
    border: solid 2px red;
  }

  .paragraphs {
    width: 100%;

    .paraTitle {
      padding: var(--largeSpacer) 0 var(--smallSpacer) 0;
      margin: var(--largeSpacer) 0 var(--smallSpacer) 0;
    }

    .contentContainer {
      display: flex;
      flex-wrap: wrap;
      margin: var(--mediumSpacer) auto;

      .paraContent {
        min-width: 100%;
        margin: auto;
        padding: var(--mediumSpacer);

        img {
          max-width: 100%;
        }

        .left {
          width: 50%;
          float: left;
          padding: var(--smallSpacer) var(--mediumSpacer);
        }

        .right {
          width: 50%;
          float: right;
          padding: var(--smallSpacer) var(--mediumSpacer);
        }

        .banner {
          width: 100%;
          float: none;
        }

        .icon {
          width: 20%;
          float: right;
          padding: var(--smallSpacer) var(--mediumSpacer);
        }
      }
    }
  }
}

.modal {
  .part {
    padding: var(--smallSpacer);
    margin: var(--smallSpacer) 0;
  }
}

// shop settings
.shopContainer {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  padding: var(--mediumSpacer);
  margin: auto;

  // shop filter
  .shopFilter {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-bottom: 0.5rem;

    select {
      background-color: transparent;
      color: var(--font);
      width: 15rem;
      padding: var(--smallSpacer) var(--mediumSpacer);
      margin: var(--smallSpacer);
      border-radius: var(--smallSpacer);

      option {
        background-color: #ccc;
        color: var(--primary);
      }
    }
  }

  article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .shopPreviewContainer {
      background-color: var(--secondary);
      width: 38rem;
      height: 60rem;
      margin: 1.5rem 1.5rem;
      position: relative;
      border: solid red 0.2rem;
      box-shadow: 0.1rem 0.1rem 0.8rem 0.2rem #c21a1a66,
        -0.1rem -0.1rem 0.8rem 0.2rem #c21a1a66,
        -0.1rem 0.1rem 0.8rem 0.2rem #c21a1a66,
        0.1rem -0.1rem 0.8rem 0.2rem #c21a1a66;

      h3 {
        height: 6rem;
        font-size: 2rem;
        padding: 0.5rem;
      }

      .shopPreviewCard {
        width: 80%;
        height: auto;
        margin: 0.8rem auto;

        img {
          width: 100%;
        }
      }

      .description {
        width: 80%;
        height: 15rem;
        font-size: 1.4rem;
        text-align: start;
        margin: auto;

        p {
          margin: 0.5rem;
        }
      }

      .cardFooter {
        width: 85%;
        height: 4rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        left: 7.5%;
        bottom: 1rem;

        .price {
          width: 30%;
          height: 3.5rem;
          font-size: 2.2rem;
        }

        a {
          background-color: var(--button02);
          width: 40%;
          height: 3.5rem;
          font-size: 1.6rem;
          padding: 0.5rem 1rem;
        }

        a:hover {
          background-color: var(--button01);
          color: var(--font);
          font-weight: 600;
        }
      }
    }
  }
}

// Streamplan

.terminContainer {
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin: auto;

  .dateBG {
    background: url("../public/images/particles.gif") 100% / cover no-repeat;
    width: 30rem;
    height: 30rem;
    border-radius: 9rem;

    .date {
      background: linear-gradient(
        45deg,
        #111010cc 0%,
        #18181866 60%,
        #504f4fcc 120%
      );
      width: 30rem;
      height: 30rem;
      margin: auto;
      padding: 1.3rem;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: space-around;
      // position: relative;
      border: solid 1px var(--font);
      border-radius: 5rem;
      box-shadow: 2px 2px 6px 2px #959595, 2px 2px 6px 2px #e20a0a,
        -2px 2px 6px 2px #959595, 2px -2px 6px 2px #e20a0a;

      h2 {
        font-size: 3.4rem;
      }

      p {
        font-size: 1.6rem;
      }

      .dateText {
        color: #ededed66;
        font-size: 4.3rem;
      }
    }
  }
}

.streamplanContainer {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: var(--largeSpacer);

  .planContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: auto;

    .planCard {
      background-color: var(--secondary);
      width: 100%;
      height: 22rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
      vertical-align: middle;
      font-size: 2.6rem;
      font-weight: 600;
      margin: 0.7rem;
      border: solid var(--secondary);

      .streamHeader {
        font-size: 2rem;
        padding: var(--mediumSpacer);
      }

      .day {
        width: 45%;
      }

      .video {
        width: 19rem;
        height: 19rem;
        overflow: hidden;
        border-radius: 50%;
        border: solid 2px #ccc6;

        video {
          width: 24rem;
          transform: translateY(2.5rem) scale(1.4);
          border-radius: 50%;
        }
      }

      .social {
        width: 10%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 4rem;

        i {
          width: 100%;
        }
      }
    }

    .free {
      height: 12rem;
    }
  }

  .planContentConatiner {
    width: 60%;
    display: flex;
    flex-direction: column;
  }
}

// Celest Abyss

.createForm {
  background-color: var(--secondary);
  width: 80%;
  min-height: 60rem;
  margin: var(--largeSpacer) auto;
  padding: var(--mediumSpacer);
  display: flex;
  flex-wrap: wrap;
  border: solid 1px;

  label {
    font-size: 2rem;
    margin: var(--smallSpacer);
    padding: var(--smallSpacer) var(--largeSpacer);
    border: solid 1px;
  }

  input {
    width: 70%;
    font-size: 1.8rem;
    margin: var(--smallSpacer) var(--mediumSpacer);
    padding: var(--smallSpacer);
    border-radius: var(--smallSpacer);
  }

  div {
    width: 100%;
    display: flex;
    justify-content: space-between;

    label {
      min-width: 20rem;
      border: red solid 2px;
    }

    input {
      width: 80%;
      padding: var(--smallSpacer) var(--mediumSpacer);
    }
  }

  .counter {
    position: relative;
    top: -2rem;
    left: 90%;
  }

  .content {
    width: 100%;
  }

  textarea {
    width: 100%;
    max-width: 100%;
    height: 30rem;
    max-height: 30rem;
    line-height: 1.7rem;
    margin: var(--mediumSpacer) auto;
    padding: var(--smallSpacer);
  }

  .textarea {
    width: 100%;
    max-width: 100%;
    height: 10rem;
    max-height: 30rem;
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin: var(--mediumSpacer) auto;
    padding: var(--smallSpacer) var(--mediumSpacer);
  }

  button {
    background-color: lightgreen;
    width: 20%;
    height: 4rem;
    padding: var(--smallSpacer);
    border-radius: 2rem;
  }
}

.articleMenu {
  width: 80%;
  display: flex;
  margin: 1rem auto -1rem auto;
  padding: var(--mediumSpacer);

  button {
    width: 50%;
    margin: 0.2rem;
    padding: var(--mediumSpacer);
    border: solid 1px;
    border-radius: 1rem 1rem 0rem 0rem;
  }
}

.newSpan {
  background-color: var(--secondary);
  color: lightgreen;
  width: 80%;
  margin: var(--mediumSpacer);
  padding: var(--mediumSpacer);
  border: #999 solid 1px;
  border-radius: var(--smallSpacer);
}

.newSpan:hover {
  border: var(--font) solid 1px;
}

.createArticle {
  background-color: lightgreen;
  width: 40%;
  margin: var(--mediumSpacer);
  padding: var(--mediumSpacer);
  border-radius: var(--smallSpacer);
}

.loginPage {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .loginContainer {
    width: 30rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: var(--xlargeSpacer);
    border: solid;
    border-radius: var(--mediumSpacer);

    label {
      width: 100%;
      margin: var(--smallSpacer);
    }

    input {
      width: 100%;
      padding: var(--smallSpacer) var(--mediumSpacer);
      border-radius: var(--smallSpacer);
    }

    button {
      font-size: 1.7rem;
      font-weight: 600;
      margin-top: var(--mediumSpacer);
      padding: var(--smallSpacer) var(--mediumSpacer);
      border-radius: var(--mediumSpacer);
    }
  }
}

// Dashboard
.dashboardContainer {
  min-height: 80vh;
  display: flex;
  justify-content: start;
  flex-direction: column;

  #merch,
  #ca {
    margin: 13rem 0;
    padding: 10rem;
  }

  .dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .dashboardMenu {
      width: 25rem;
      height: 16rem;
      margin: var(--mediumSpacer);
      padding: var(--smallSpacer);
      border: solid 1px;

      i {
        font-size: 6rem;
      }
    }
  }

  .articleForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    h2 {
      margin-bottom: 2rem;
    }

    form {
      background-color: var(--secondary);
      width: 40%;
      font-size: 2rem;
      // margin: auto;
      padding: 1.5rem;
      border: solid 1px var(--secondary);
      border-radius: 1rem;

      label {
        width: 100%;
        min-height: 5rem;
        display: flex;
        align-items: center;
        padding: 0.5rem;

        span {
          width: 20rem;
          display: inline-block;
          padding: 0 2rem;
          margin: 0 2rem;
        }

        input,
        textarea {
          width: 60rem;
          padding: 0.5rem 1rem;
          border-radius: 1rem;
          margin-left: auto;
        }

        input[name="type"],
        input[name="gender"],
        input[name="price"],
        input[name="drachenmünzen"] {
          width: 16rem;
        }

        textarea {
          padding: 0.8rem 1.5rem;
          font-size: 1.8rem;
          line-height: 2.1rem;
          resize: none;
          border-radius: 2rem;
          overflow: hidden;
        }

        input:focus,
        textarea:focus {
          background-color: rgb(185, 231, 249);
          outline-color: red;
          outline-style: groove;
        }
      }
    }

    .shopPreviewContainer {
      background-color: var(--secondary);
      width: 34rem;
      height: 58rem;
      position: relative;
      border: solid red 0.2rem;
      box-shadow: 0.1rem 0.1rem 0.8rem 0.2rem #c21a1a66,
        -0.1rem -0.1rem 0.8rem 0.2rem #c21a1a66,
        -0.1rem 0.1rem 0.8rem 0.2rem #c21a1a66,
        0.1rem -0.1rem 0.8rem 0.2rem #c21a1a66;

      h3 {
        height: 6rem;
        font-size: 2rem;
        padding: 0.5rem;
      }

      .shopPreviewCard {
        width: 80%;
        height: auto;
        margin: 0.8rem auto;

        img {
          width: 100%;
        }
      }

      .description {
        width: 80%;
        height: 15rem;
        font-size: 1.4rem;
        text-align: start;
        margin: auto;

        p {
          margin: 0.5rem;
        }
      }

      .cardFooter {
        width: 85%;
        height: 4rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        left: 7.5%;
        bottom: 1rem;

        .price {
          width: 30%;
          height: 3.5rem;
          font-size: 2.2rem;
        }

        a {
          background-color: var(--button02);
          width: 40%;
          height: 3.5rem;
          font-size: 1.6rem;
          font-weight: 600;
          padding: 0.5rem 1rem;
        }

        a:hover {
          background-color: var(--button01);
          color: var(--font);
          font-weight: 600;
        }
      }
    }
  }
}

// StreamBG

.streamBGContainer {
  background-color: #111010;
  width: 100vw;
  height: 100vh;
  padding: 2.5rem 5rem;
  position: fixed;
  top: 0;
  left: 0;
  border: none;
  z-index: 3;

  // ---------- Head ----------

  .headContainer {
    display: flex;
    justify-content: space-between;
    gap: 5rem;

    .videoLogoContainer {
      width: 40rem;
      height: 10rem;
      overflow: hidden;
    }

    .videoLogoContainer video {
      width: 100%;
      transform: translateY(-29%);
    }

    .breakHeader {
      color: rgb(26, 25, 25);
      font-size: 7rem;
      font-weight: 700;
      letter-spacing: 0.5rem;
      text-shadow: 0.1rem 0.1rem 1rem #f8c29a;
    }

    .socialContainer {
      width: 30%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      a {
        width: 25rem;
      }

      a:hover {
        background-color: transparent;
      }

      i {
        font-size: 4rem;

        span {
          font-size: 2rem;
        }
      }

      .yt {
        width: 13rem;
        height: 8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 0.3rem #eb2a18;
        border-top-left-radius: 2rem 1rem;
        border-top-right-radius: 2rem 1rem;
        border-bottom-left-radius: 2rem 1rem;
        border-bottom-right-radius: 2rem 1rem;

        i {
          color: #eb2a18;
          text-shadow: 0 0 0.5rem #eb2a18, 0 0 1rem #eb2a18, 0 0 1.5rem #eb2a18,
            0 0 2rem #5b241a, 0 0 2.5rem #5b241a, 0 0 3rem #5b241a;
          font-size: 6rem;
        }
      }

      .yt:hover {
        background-color: #000;
        box-shadow: inset 0.1rem 0.2rem 0.6rem 0.1rem #f44d4d,
          0.1rem 0.2rem 1rem 0.2rem #d12e2e,
          //UR
          -0.1rem -0.1rem 0.1rem 0.1rem transparent,
          //OL
          -0.1rem 0.1rem 0.1rem 0.1rem transparent,
          //UL
          0.1rem -0.1rem 0.1rem 0.1rem transparent,
          //OR
;
        animation: border 2s;
      }

      .twitch {
        color: rgb(149, 33, 226);
        font-size: 7rem;
      }
    }
  }

  // ---------- Body ----------

  .assetContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 9rem;
    padding: 2rem;

    .chatContainer {
      width: 70rem;
      height: 70rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      border-radius: 1.2rem;
    }

    .leftContainer {
      width: 81rem;

      .videoContainer {
        width: 80rem; // 16
        height: 45.3rem; // 9
        border: solid red;
        border-radius: 0.5rem;
      }

      .bottomContainer {
        height: 24rem;
        display: flex;
        margin-top: 2rem;
        padding: 0.75rem;

        .werbung {
          height: 100%;
        }

        .command {
          color: rgb(26, 25, 25);
          font-size: 6rem;
          font-weight: 700;
          letter-spacing: 0.5rem;
          text-shadow: 0.1rem 0.1rem 1rem #f8c29a;
        }

        .textContent {
          color: #aeaeae;
          font-size: 2.5rem;
          padding: 0 2.5rem;
        }
      }
    }
  }
}

@import "./scss_src/mediaQueries";
